		<!-- <div show-tab > im ziel einsetzen-->
		<!-- </div> -->
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		        <li class="active"><a href="" data-toggle="tab">Allgemein</a></li>
		        <li ><a href="" data-toggle="tab">Größe</a></li>
		        <li ><a href="" data-toggle="tab">Aktualisieren</a></li>
		        <li ><a href="" data-toggle="tab">Platzierung</a></li>
		        <li ><a href="" data-toggle="tab">History</a></li>
		    </ul>
		    <div id="my-tab-content" class="tab-content ">
		        <div class="tab-pane active">
		            <p>
		            	<table class="table">
		            		<tr>
		            			<td>Überschreiben</td>
		            			<td>
								    <div class="btn-group pull-left">
								        <label class="btn btn-primary" ng-model="overwrite" btn-radio="true" >Ja</label>
								        <label class="btn btn-primary" ng-model="overwrite" btn-radio="false" >Nein</label>
								    </div>		     				
		            			</td>
		            		</tr>
		            		<tr>
		            			<td>Name</td>
		            			<td><input type="text" ng-model="slug"></td>		            			
		            		</tr>      		
		            	</table>
						<br/>
		            </p>
		        </div>
		        <div class="tab-pane">
		            <p>
						<h4>Viewport</h4>
						<!-- ng-options="opt.label for opt in screensizeopt" -->
						<select multiple ng-model="screensize" ng-disabled="false"
							ng-options="opt.value as opt.label for opt in screensizeopt"
							>
						</select>
						<br/>
		            </p>
		        </div>
		        <div class="tab-pane">
		            	<label for="autorefresh.enabled">aktivieren</label>
						<!-- <input id="autorefresh.enabled" type="checkbox" ng-model="autorefresh.enabled" /> -->
					    <div id="autorefresh.enabled" class="btn-group">
					        <label class="btn btn-primary" ng-model="autorefresh.enabled" btn-radio="true" >Ja</label>
					        <label class="btn btn-primary" ng-model="autorefresh.enabled" btn-radio="false" >Nein</label>
					    </div>							
						<br>
						<br>

						<table class="table">
						<tr>
							<td class="col-md-3">
								<label for="autorefresh.freq" >Frequenz (pro Tag)</label></td>
							<td>
								<input
									id="autorefresh.freq"
									type="number"
									ng-required="autorefresh.enabled"
									ng-disabled="!autorefresh.enabled"
									min="1"
									max="12"
									ng-model="autorefresh.freq"
									style="width:50px"/>
							</td>
						</tr>
						<tr>
							<td class="col-md-3">
								<label for="autorefresh.duration" >Laufzeit (in Wochen)</label>
							</td>
							<td>
								<input
									id="autorefresh.duration"
									type="number"
									ng-required="autorefresh.enabled"
									ng-disabled="!autorefresh.enabled"
									min="1"
									max="8"
									ng-model="autorefresh.duration"
									style="width:50px"/>
							</td>
						</tr>
						</table>						
		        </div>
		        <div class="tab-pane">

		        	
					<table class="table">
						<tr>
							<td colspan="2">
							Einbauen auf:
							<select ng-model="targetlocation"
									ng-disabled="false"
									ng-options="item.value as item.name for item in targetlocationopt" >
							</select>
							</td>		            			
						</tr>   					
						<tr>
							<td>
								<label for="usemobileurl">andere Mobile URL aktivieren</label>
								<!-- <input id="usemobileurl" type="checkbox" ng-model="usemobileurl" />		        -->
							    <div id="usemobileurl" class="btn-group">
							        <label class="btn btn-primary" ng-model="usemobileurl" btn-radio="true" >Ja</label>
							        <label class="btn btn-primary" ng-model="usemobileurl" btn-radio="false" >Nein</label>
							    </div>						     	
							</td>
							<td>
					            <p>
					            	<label for="mobileurl" >Playout Url für m.zdf.de</label><br>
					            	<input id="mobileurl" type="url" ng-model="mobileurl" ng-disabled="!usemobileurl" size="80">
					            </p>								
							</td>
						</tr>   		
					</table>

				    <br>
				    <br>
		        </div>
		        <div class="tab-pane">
		            <p>
						<history></history>						
		            </p>
		        </div>		        
		    </div>
