<div class="zdfembed" id="{{hash}}" style="width:300px">
	<script type="text/x-template" id="script{{hash}}">
		<a href="#" onclick="bdsg{{hash}}()" style="text-decoration:none" >
			<div data-content="Ein klick f&uuml;r den Datenschutz." class="image zdfembedclick">
				<img src="{{clienthostname}}/c/twr/{{hash}}/preview" alt="" />
			</div>
		</a>
	</script>
	<script>document.write(document.getElementById('script{{hash}}').innerHTML);</script>
	<noscript>
		<a href="http://anonym.to/?url=https://twitter.com/Weloba_en/statuses/499163652768165888" >
			<img src="{{clienthostname}}/c/twr/{{hash}}/preview">
		</a>
	</noscript>
</div>
<script src="{{clienthostname}}/c/twr/{{hash}}/script.js"></script>