	.zdfembed .image {
	    position:relative;
	/*    width:200px;
	    height:200px;*/
	}
	.zdfembed .image img {
	    width:100%;
	    vertical-align:top;
	}
	.zdfembed .image:after, .image:before {
	    position:absolute;
	    opacity:0;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}
	.zdfembed .image:after {
	    content:'\A';
	    width:100%; height:100%;
	    top:0; left:0;
	    background:linear-gradient(#CDCDCD, #EAEAEA);
	}
	.zdfembed .image:before {
		content: attr(data-content);
		width: 100%;
		color: #fff;
		z-index: 1;
		top: 0;
		padding: 4px 10px;
		font-family: arial;
		font-size: 18px;
		font-weight: bold;		
		background: #fa7d19;		
		box-sizing: border-box;
		-moz-box-sizing: border-box;

	}
	.zdfembed .image:hover:after {
	    opacity:0.9;
	}
	.zdfembed .image:hover:before {
	    opacity:1;
	}
