<style>

.zdfembed {
  text-align: center;
}  

.zdfembed .box {  
    float: left;  
    position: relative;  
    overflow: hidden;
}  

#f4a7e6e2567107a950d86d74af9eea8b41904090 {
    height: 437px;  
    width: 300px;  	
}

  
.zdfembed .box {	
	height: 100%;
	width: 100%;
}
  
.zdfembed .box a{	
	color: white;
}
  
.zdfembed .box img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;   
}

.zdfembed .box .caption {  
    background-color: rgba(0,0,0,0.8);  
    /*background: #fa7d19;*/
    position: absolute;  
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;  
}  
.zdfembed .box .fade-caption, .zdfembed .box .scale-caption {  
    opacity: 0;  
	height: 100%;
    text-align: left;  
    padding: 15px;  
}  
.zdfembed .box:hover .fade-caption {  
    opacity: 1;  
}  

</style>


	<div class="zdfembed" id="f4a7e6e2567107a950d86d74af9eea8b41904090" style="" >
		<script type="text/x-template" id="scriptf4a7e6e2567107a950d86d74af9eea8b41904090">
			<div class="box" >
				<img src="http://wmaiz-v-sofa02.dbc.zdf.de/c/twr/f4a7e6e2567107a950d86d74af9eea8b41904090/preview" alt="" />
		        <span class="caption fade-caption"  >  
		        <h3>Datenschutz</h3>  
		        <p>Erst wenn Sie hier klicken, werden Bilder und andere Daten von Drittanbietern nachgeladen. Ihre IP-Adresse wird dabei an externe Server (Facebook, Google, Twitter etc.) übertragen. Über den Datenschutz dieser Anbieter können Sie sich auf den jeweiligen Seiten informieren. Um Ihre künftigen Besuche zu erleichtern, setzen wir ein Cookie und speichern damit Ihre Entscheidung.</p>  
		        <button onclick="bdsgf4a7e6e2567107a950d86d74af9eea8b41904090()">Einverstanden</button>
		        
		        <label style="display:inline-block;"><input type="checkbox" name="checkbox" checked="checked" value="true">Entscheidung merken</label>
		        <br>
		        <br>
		        <a href="http://www.zdf.de/ZDFxt/module/socialoptin/settings/">Datenschutz Einstellung ändern</a>

		        </span>  				
			</div>
		</script>
		<script>document.write(document.getElementById('scriptf4a7e6e2567107a950d86d74af9eea8b41904090').innerHTML);</script>
		<noscript>
			<a href="http://anonym.to/?url=https://twitter.com/Weloba_en/statuses/499163652768165888" >
				<img src="http://wmaiz-v-sofa02.dbc.zdf.de/c/twr/f4a7e6e2567107a950d86d74af9eea8b41904090/preview">
			</a>
		</noscript>
	</div>
<!-- 
	<script src="http://wmaiz-v-sofa02.dbc.zdf.de/c/twr/f4a7e6e2567107a950d86d74af9eea8b41904090/script.js"></script>
	 -->




<script type="text/javascript">
	(function (){	
		var csslink = document.createElement('link');
		csslink.setAttribute("rel","stylesheet")
		csslink.setAttribute("type","text/css")
		csslink.setAttribute("href","http://wmaiz-v-sofa02.dbc.zdf.de/c/twr/_design/tweetrenderdb/templates/v2/style.css");
		document.getElementsByTagName('head')[0].appendChild(csslink);
	}())


	//eventcapture for p12


	function bdsgf4a7e6e2567107a950d86d74af9eea8b41904090(){

		
		var htmlsrc64 = 'PGJsb2NrcXVvdGUgY2xhc3M9InR3aXR0ZXItdHdlZXQiIGxhbmc9ImRlIj48cD5Iw7xic2NoZXIgV2lsbGtvbW1lbnNncnXDnyBpbiB1bnNlcmVyIEthbnRpbmUgYXVmIGRlbSBMZXJjaGVuYmVyZy4gPGEgaHJlZj0iaHR0cDovL3QuY28vYWhRMVlOQ0haUiI+cGljLnR3aXR0ZXIuY29tL2FoUTFZTkNIWlI8L2E+PC9wPuKAlCBaREYgKEBaREYpIDxhIGhyZWY9Imh0dHBzOi8vdHdpdHRlci5jb20vWkRGL3N0YXR1cy81MTY1MzQ1NjQ0MjExMzYzODQiPjI5LiBTZXB0ZW1iZXIgMjAxNDwvYT48L2Jsb2NrcXVvdGU+Cgo=';

		var script = 'console.log("inline code");';
		var scripts = [];

		scripts.push("//platform.twitter.com/widgets.js");

		function insertScript(url, evaluate) {
		    scriptEl = document.createElement('script');
		    scriptEl.type = 'text/javascript';
		    scriptEl.async = true;

		    if (evaluate){
		    	if ("onload" in scriptEl){
				    scriptEl.onload = function(){
				        // remote script has loaded
				        eval(script);
				    };    		
		    	} else {
		    		setTimeout(function(){
			        	// remote script shoul have loaded
		        		eval(script);
		    		},2000);
		    	}
		    }
		    scriptEl.src = url;
		    document.getElementsByTagName('head')[0].appendChild(scriptEl);
		}

		document.getElementById('f4a7e6e2567107a950d86d74af9eea8b41904090').innerHTML = atob(htmlsrc64);
		if (scripts.length > 0){
			for(var i1=0; i1 < scripts.length; i1++)
			{
				var last = (i1 == scripts.length-1);
				insertScript(scripts[i1],last);
			}
		} else {
			eval(script);
		}
		
	}
	
</script>


<script src="http://www.zdf.de/ZDFxt/module/socialoptin/js/libs/es6-promise-2.0.0.min.js"></script>
<script src="http://www.zdf.de/ZDFxt/module/socialoptin/js/cross-storage/client-0.3.3.js"></script>
<script>		
	var storage = new CrossStorageClient('http://www.zdf.de/ZDFxt/module/socialoptin/hub.html',
		{
			timeout: 3000,
			promise: ES6Promise.Promise
		});

	storage.onConnect().then(function() {
	  return storage.get("social");

	}).then(function(res) {
		if (res !== null){
			//Fire event
			console.log(JSON.stringify(res)); //==true or false
		} else{
			//Fire event
			console.log("undefined"); //wer braucht das?
		}

	}).catch(function(err) {
	  // Handle error
	  console.log("error xxx",err);
	});

</script>

