<html ng-app="tapp">
<head>
  <meta charset="utf8" />
  <meta author="ronny adams" />
  <meta name="viewport" content="width=640">
  <title>Tweetrenderer</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="TweecodeController as tapp">

	<script src="js/libs/angular.js"></script>
	<!--
		<script src="js/libs/angular-spinner.min.js"></script>
		<script src="js/libs/spin.min.js"></script>
		<script src="js/libs/holder.js"></script>
	-->
	<script src="js/libs/socket.io.js"></script>
	<script src="js/libs/socket.js"></script>
	<script src="js/tabs/tabs.js"></script>
	<script src="js/progressbar/ui-bootstrap-custom-tpls-0.12.1.js"></script>
	<script src="js/progressbar/progressbar.js"></script>
	<script src="js/ngapp.js"></script>
  	<script src="http://cm2-prod-pre.zdf.de/studio/pickerResultInterface.js" type="text/javascript"></script>


	<script>
	
	var default_code = 'PGJsb2NrcXVvdGUgY2xhc3M9InR3aXR0ZXItdHdlZXQiIGxhbmc9ImRlIj48cD5I/GJzY2hlciBXaWxsa29tbWVuc2dydd8gaW4gdW5zZXJlciBLYW50aW5lIGF1ZiBkZW0gTGVyY2hlbmJlcmcuIDxhIGhyZWY9Imh0dHA6Ly90LmNvL2FoUTFZTkNIWlIiPnBpYy50d2l0dGVyLmNvbS9haFExWU5DSFpSPC9hPjwvcD4mbWRhc2g7IFpERiAoQFpERikgPGEgaHJlZj0iaHR0cHM6Ly90d2l0dGVyLmNvbS9aREYvc3RhdHVzLzUxNjUzNDU2NDQyMTEzNjM4NCI+MjkuIFNlcHRlbWJlciAyMDE0PC9hPjwvYmxvY2txdW90ZT4NCjxzY3JpcHQgYXN5bmMgc3JjPSIvL3BsYXRmb3JtLnR3aXR0ZXIuY29tL3dpZGdldHMuanMiIGNoYXJzZXQ9InV0Zi04Ij48L3NjcmlwdD4NCg==';

	</script>

	<history>
	<!-- Gallery der letzten 10
	Gallery der meist besuchten -->
	</history>

	<form name="embcodeForm" role="form"
		  ng-controller="EmbeddcodeController as embcodeCtrl"
		  ng-submit="embcodeForm.$valid && renderCode()"
		  novalidate >
		<!-- 
		Version
		<select ng-model="version"
			ng-options="opt.label for opt in versionopt">
		</select>
		-->


		<div show-tab >
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		        <li class="active"><a href="" data-toggle="tab">Allgemein</a></li>
		        <li ><a href="" data-toggle="tab">Größe</a></li>
		        <li ><a href="" data-toggle="tab">Aktualisieren</a></li>
		        <li ><a href="" data-toggle="tab">Mobil</a></li>
		    </ul>
		    <div id="my-tab-content" class="tab-content">
		        <div class="tab-pane active">
		            <p>
						Überschreiben
						<select ng-model="overwrite"
							ng-options="opt.label for opt in overwriteopt">
						</select> 
						<br/>
		            </p>
		        </div>
		        <div class="tab-pane">
		            <p>
						Größe
						breite/auto
						auto/höhe
						breite/höhe
						<select ng-model="screensize" ng-disabled="'true'"
							ng-options="opt.label for opt in screensizeopt">
						</select>
						<br/>
		            </p>
		        </div>
		        <div class="tab-pane">
		            	<label for="autorefresh.enabled">aktivieren</label>
						<input id="autorefresh.enabled" type="checkbox" ng-model="autorefresh.enabled" ng-disabled="'true'"/>
						<br>

						<table class="table">
						<tr>
							<td class="col-md-3">
								<label for="autorefresh.freq" >Frequenz (pro Tag)</label></td>
							<td>
								<input
									id="autorefresh.freq"
									type="number"
									ng-required="autorefresh.enabled"
									ng-disabled="!autorefresh.enabled"
									min="1"
									max="12"
									ng-model="autorefresh.freq"
									style="width:50px"/>
							</td>
						</tr>
						<tr>
							<td class="col-md-3">
								<label for="autorefresh.duration" >Laufzeit (in Wochen)</label>
							</td>
							<td>
								<input
									id="autorefresh.duration"
									type="number"
									ng-required="autorefresh.enabled"
									ng-disabled="!autorefresh.enabled"
									min="1"
									max="8"
									ng-model="autorefresh.duration"
									style="width:50px"/>
							</td>
						</tr>
						</table>						
						

						
						

		        </div>
		        <div class="tab-pane">
		            <p>unterschiedliche angaben für mobil</p>
		        </div>
		    </div>
		</div>
		<hr>

		Hintergrundbild
		<input id="bgimageurl" ng-model="bgimageurl" size="100" type="text" placeholder="http://www.zdf.de/ZDF/zdfportal/blob/.../data.png" onclick="select()">

		<br>
		<br>

			<label for="twicode">Bitte geben sie hier den Embedd-Code ein</label>
		<!-- 	<input type="text" ng-model="code" required class="form-control" id="twicode" 
				placeholder='<blockquote class="twitter-tweet" lang="de"><p>...'/> -->
			<textarea ng-model="code" required class="form-control" id="twicode" 
				placeholder='<blockquote class="twitter-tweet" lang="de"><p>...'></textarea>

		<input type="submit" ng-class="{'btn-primary': embcodeForm.$valid, 'btn-default': !embcodeForm.$valid}" class="btn btn-group-justified" value="Code umwandeln"/>
		
		<!-- 
		<preview>
			<span id="spinner-1" us-spinner="{radius:30, width:8, length: 16, top:'50%', left:'50%', color:'#fff'}" spinner-key="spinner-1"
			style="">
				<img ng-show="holder" ng-model="holder" data-src="holder.js/300x300/sky/text:Preview"  class="img-responsive center-block"/>
				<img ng-hide="holder" ng-cloak ng-model="image" ng-src="{{image}}"  class="ng-cloak img-responsive center-block"/>

			</span>

		</preview>
		-->
		<!-- 
		<input name="breite" value="" type="text" list="breite_source">
		<datalist id="breite_source">
			<option value="300">300</option>
			<option value="400">400</option>
			<option value="500">500</option>
			<option value="600">600</option>
		</datalist> -->

	</form>

	<!-- <button ng-click="tapp.power()" class="btn btn-success btn-group-justified">empower me</button> -->

	<result my-progress="true" progress-forward="progressProgress" finish="progressFinish" setup="progressSetup"></result>


	<br>
	<div class="text-center">
		<lable for="linkurl">HTML Fragment URL:</lable>
		<input id="linkurl" ng-model="tapp.playoutUrl" size="100" type="text" placeholder="http://....."/ onclick="select()">
	</div>
	

<!-- 	<h1 class="text-center">
		Test Embedcode <button>reset</button>
	</h1>
	<div id="iframe_preview">
		<iframe id="iframe_output" style="display: block;margin: 0 auto;min-width: 450;height: 500px;">
		</iframe>
	</div> -->
	<br>
	<input type="submit" ng-class="{'btn-success': embcodeForm.$valid, 'btn-danger': !embcodeForm.$valid}" class="btn btn-group-justified" value="Speichern" ng-click="tapp.save()" />
	<br>


</body>
</html>
