
<button type="button" class="btn btn-default btn-xs pull-right" ng-click="logout()" ng-show="user">
  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {{ user.name }} logout
</button>

<h1>Wartungsfunktionen</h1>


<!-- <div>user = {{user | json}}</div> -->
<div id="centercontainer">
	<form ng-submit="login()">
		<table ng-hide="user">
			<tr>
			<td>Login</td>
			<td><input name="name" type="text" ng-model="loginname"></td>
			</tr>
			<tr>
			<td>Passwort</td>
			<td><input name="password" type="password" ng-model="loginpassword"></td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input ng-click="login()" ng-hide="user" type="submit" value="login">		
				</td>
			</tr>	
		</table>
	</form>
</div>

<!-- 
	bearbeiten funktion zum ändern von name und mobil url ohne bilder neu zu rendern
	live schalten funktion contin. sync to couch1 mit filter für live geschaltete damit updates automatisch...
	bilder wie bei brücke ändern -> neue größen in JS schreiben -> p12 lädt html fragment nicht neu!
	
 -->

	
	<ul class="list-group histroy" >
		<li href="" ng-repeat="item in couchdb.all" class="list-group-item input-group" >
		<button type="button" ng-click="remove(item._id,item._rev,$index)" class="btn btn-danger pull-right">löschen (dev)</button>
		<!-- call live machine and update on result -->		
		<button type="button" ng-click="hideFromSync(item._id,item._rev,$index)" class="btn btn-default pull-right">live on/off</button>


		<div class="subject">
			ID: {{item._id}}
		</div>
		<div class="subjectName">
			<strong>
				Name: {{item.slug}}
			</strong>
		</div>
		<div class="targetlocation">
				Container: {{item.targetlocation}}
		</div>		
		<div class="subjectDateCreated">
			Erzeugt: {{item.dateCreated | date:'yyyy-MM-dd HH:mm:ss' }}
		</div>
		<div class="subjectDateUpdated">
			Aktualisieren: {{item.dateUpdated | date:'yyyy-MM-dd HH:mm:ss'}}
		</div>	
		
		
		<div class="row" id="imagelistitem">
		  <div class="col-xs-2 col-md-2" ng-repeat="att in imageFilter(item._attachments)">
		    <a href="" class="thumbnail">
		      <img ng-src="http://wmaiz-v-sofa02.dbc.zdf.de:5984/twr/{{item._id}}/{{att.name}}" alt="Bild">
				<div class="caption">
				<h5>{{att.name}} - {{att.length | bytes}}</h5>
				</div>				      
		    </a>
		  </div>
		</div>

		</li>		
	</ul>
	

</div>
