<script>
// Picture element HTML5 shiv
document.createElement( "picture" );
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.0/picturefill.min.js" async></script>
<script src="http://www.zdf.de/ZDFxt/module/socialoptin/js/cross-storage/client-0.3.3.js" async></script>

<div class="zdfembed" id="_{{hash}}"  >


	<div class="socialbox" style="display:none">
		<picture>
		 {{{PictureElementContent}}}
		</picture>

		<span class="caption fade-caption">
			<div class="relative_wrapper_social">
	        	<h3>Ihr Klick f&uuml;r den Datenschutz</h3>  
	        	<p>Erst wenn Sie hier klicken, werden Bilder und andere Daten von Drittanbietern nachgeladen. Ihre IP-Adresse wird dabei an externe Server (Facebook, Google, Twitter etc.) &uuml;bertragen. &Uuml;ber den Datenschutz dieser Anbieter k&ouml;nnen Sie sich auf den jeweiligen Seiten informieren.
	        	</p>
	        	<button class="button" onclick="activateSocial()">Einverstanden</button>
				<a class="settingsbutton" href="http://www.zdf.de/social-media-optin-37013018.html">
					<button class="socialbottom button" >Datenschutz Einstellung</button>
				</a>					
			</div>
		</span>  					
	</div>

	<script type="text/javascript">
		var socialbox = document.getElementsByClassName("socialbox");
		for(i=0;i < socialbox.length;i++){ 
			if (socialbox[i].hasAttribute('style')){
				socialbox[i].removeAttribute('style');
			}
		}
	</script>
	<noscript>
		<a href="#noscript" >
			{{#each imagesSizesReceived}}
				{{#if @first}}
				<img style="width: 100%;" src="http://sofa01.zdf.de/c/twr/{{@root.hash}}/{{this}}px">
				<!-- <img src="{{@root.clienthostname}}/c/twr/{{@root.hash}}/{{this}}px"> -->
				{{/if}}
			{{/each}}			
		</a>
	</noscript>


</div>
<script src="{{clienthostname}}/c/twr/{{hash}}/script.js"></script>