<script>
// Picture element HTML5 shiv
document.createElement( "picture" );
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.0/picturefill.min.js" async></script>

<script>
	if (window.self == window.top){
		var css = document.createElement("style");
		css.type = "text/css";
		css.innerHTML = "body { overflow: hidden ; background-image:url({{bgimageurl}}); } ";
		document.getElementsByTagName('script')[0].parentNode.appendChild(css);		
	}
</script>


<div class="zdfembed" id="_{{hash}}"  >

	<script type="text/x-template" id="script{{hash}}">
		<div class="socialbox" >

			<picture>
			     <!--[if IE 9]><video style="display: none;"><![endif]-->
			     <source srcset="{{clienthostname}}/c/twr/{{hash}}/1224px" media="(min-width: 768px)">
			     <source srcset="{{clienthostname}}/c/twr/{{hash}}/768px"  media="(max-width: 768px) and (min-width: 320px)">
			     <source srcset="{{clienthostname}}/c/twr/{{hash}}/320px"  media="(min-width: 320px)">
			     <!--[if IE 9]></video><![endif]-->
			     <img style="width: 100%;" srcset="{{clienthostname}}/c/twr/{{hash}}/320px" alt="Vorschaubild Social Media">
			</picture>

			<span class="caption fade-caption"  >
				<div class="relative_wrapper_social">
		        	<h3>Ihr Klick f&uuml;r den Datenschutz</h3>  
		        	<p style="padding-right: 0px;">Erst wenn Sie hier klicken, werden Bilder und andere Daten von Drittanbietern nachgeladen. Ihre IP-Adresse wird dabei an externe Server (Facebook, Google, Twitter etc.) &uuml;bertragen. &Uuml;ber den Datenschutz dieser Anbieter k&ouml;nnen Sie sich auf den jeweiligen Seiten informieren.
		        	</p>
		        	<button class="button" onclick="activateSocial()">Einverstanden</button>			
	
					<a class="button" href="http://www.zdf.de/social-media-optin-37013018.html">
						<div class="socialbottom">
							<span class="fa-stack">
							  <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
							</span>Datenschutz Einstellung
						</div>
					</a>


					
					
				</div>
			</span>  				
		</div>
	</script>
	<script>document.write(document.getElementById('script{{hash}}').innerHTML);</script>
	<noscript>
		<a href="http://anonym.to/?url=" >
			<img src="{{clienthostname}}/c/twr/{{hash}}/2l">
		</a>
	</noscript>
</div>
<script src="{{clienthostname}}/c/twr/{{hash}}/script.js"></script>