<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    </head>    
    <body>        
    <!-- 
    width="{{x}}" height="{{y}}" 
                onload="this.width=screen.width;this.height=screen.height;"
    -->
        <iframe id="maincontainer" src="{{rendersource}}" 
                style="background-image:url({{bgimageurl}})"
                frameborder="0" scrolling="auto"  marginheight="0px" marginwidth="0px"                
                width="1080" height="630" 
                ></iframe>        
    </body>


</script>

</html>