<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style type="text/css">

            .main-wrapper{
                overflow:auto;
                /* other styles here */
                /*float: left;*/
                display: inline-block;
            }        

            .main-wrapper:before,
            .main-wrapper:after {
                content : "";
                display : table;
            }
            .main-wrapper:after {
                clear : both;
            }


        </style>
    </head>    
    <body>
        <!-- Add your site or application content here -->
        <div id="maincontainer" class="main-wrapper">
		{{{code}}}
        </div>
    </body>


</script>

</html>