#_{{hash}}.zdfembed {
    text-align: center;
    height: 100%;
    width: 100%;     
}  


/*

{{#each imagesSizesReceived}}
  {{@index}}: {{this}}
{{/each}}


*/

#_{{hash}}.zdfembed .socialbox {  
    float: left;  
    position: relative;  
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: arial;
	color: #333333;
}  

#_{{hash}}.zdfembed .socialbox a{ 
    color: #fff;
}
  
#_{{hash}}.zdfembed .socialbox img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;   
    width: auto;
    height: auto;
    /*max-height: 100%;*/
    max-width: 100%;    
}

#_{{hash}}.zdfembed h3 {
    width:auto;
    position:relative;
    margin: 0px;
}


#_{{hash}}.zdfembed .socialbox .caption {  
      
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC, endColorstr=#EAEAEA);    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC, endColorstr=#EAEAEA)";

    background-color: rgba(204, 204, 204, 0.9);  
    /*background: #fa7d19;*/
    position: absolute;  
    /*color: #333333;  */
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;  
}  


    #_{{hash}}.zdfembed .socialbox .fade-caption, #_{{hash}}.zdfembed .socialbox .scale-caption {  
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;  
        height: 100%;
        text-align: left;  
        padding: 1em 1em 0px 1em;
        padding-right: 3em;
        padding-left: 3em;
    }  

    #_{{hash}} .relative_wrapper_social{
        position: relative;
         height: 100%;
    }

    #_{{hash}} .relative_wrapper_social .socialbottom{
        /*float: right;
        display: inline;
        position: absolute;
        bottom: 30px;        
        */
    }


    /*gross*/
    #_{{hash}}.zdfembed .socialbox .relative_wrapper_social a.button{
      position: absolute;
      bottom: 30px;
      display: block;
    }








#_{{hash}}.zdfembed .socialbox:hover .fade-caption {  
    opacity: 1;  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC, endColorstr=#EAEAEA);    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC, endColorstr=#EAEAEA)";    
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);        */
}  



#_{{hash}} .button{
    color: #333333;
    cursor: pointer;
    line-height: 2em;
     border:0px; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
     font-size:14px;font-family:arial, helvetica, sans-serif;
     padding: 10px 15px 10px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #656565; background-image: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#343434));
     background-image: -webkit-linear-gradient(top, #656565, #343434);
     background-image: -moz-linear-gradient(top, #656565, #343434);
     background-image: -ms-linear-gradient(top, #656565, #343434);
     background-image: -o-linear-gradient(top, #656565, #343434);
     background-image: linear-gradient(to bottom, #656565, #343434);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#656565, endColorstr=#343434);
}

#_{{hash}} .button:hover{
     border:0px ;
     background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
     background-image: -webkit-linear-gradient(top, #646464, #282828);
     background-image: -moz-linear-gradient(top, #646464, #282828);
     background-image: -ms-linear-gradient(top, #646464, #282828);
     background-image: -o-linear-gradient(top, #646464, #282828);
     background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}





@font-face {
  font-family: 'FontAwesome';
  src: url('http://www.zdf.de/ZDFxt/module/socialoptin/settings/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('http://www.zdf.de/ZDFxt/module/socialoptin/settings/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('http://www.zdf.de/ZDFxt/module/socialoptin/settings/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('http://www.zdf.de/ZDFxt/module/socialoptin/settings/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('http://www.zdf.de/ZDFxt/module/socialoptin/settings/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#_{{hash}} .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*GROSS*/
#_{{hash}} .fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

#_{{hash}} .fa-stack-1x {
    line-height: inherit;
}

#_{{hash}} .fa-stack-1x {
    font-size: 1.5em;
}

#_{{hash}} .fa-stack-1x, #_{{hash}} .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

#_{{hash}} .fa-square{

}

#_{{hash}} .fa-square:before {
    content: "\f0c8";
}

#_{{hash}} .fa-inverse {
    color: #ffffff;

}


#_{{hash}} .fa-gear:before, #_{{hash}} .fa-cog:before {
content: "\f013";
}


